@using TestAspNetMvc.ViewModels;
@model UserEditViewModel

<p>
    <h4>Редактирование пользователя:</h4>
</p>
@using (Html.BeginForm("UserEdit", "Users", FormMethod.Post))
{
    <input type="hidden" value="@Model.Id" name="UserId" />
        
    <div class="row mb-2">
        <div class="col">
            <label for="userName" class="form-label">Имя</label>
            @Html.EditorFor(m => m.UserName,
                new {htmlAttributes = new {@id = "userName", @type = "text", @class = "form-control"}})
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="col">
            <label for="userSalary" class="form-label">Зарплата</label>
            @Html.EditorFor(m => m.Salary,
                new {htmlAttributes = new {@id = "userSalary", @type = "number", @class = "form-control"}})
            @Html.ValidationMessageFor(m => m.Salary)
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <label for="departments" class="form-label">Отдел</label>
            @Html.DropDownList("DepartmentId", Model.Departments,
                new {@id = "departments", @class = "form-select"})
            @Html.ValidationMessageFor(m => m.DepartmentId)
        </div>
@*        <div class="col">
            <p>
                <label for="userPc" class="form-label">Компьютер</label>
                <a id="userPc" class="btn btn-primary form-control" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Компьютер #@Model.PCId
                </a>
            </p>
        </div>*@
    </div>

    <div class="row">
        <div class="col">
            <input class="btn btn-primary" type="submit" value="Принять"/>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Выбор компьютера</h1>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
}