@using TestAspNetMvc.Data.Models
@using TestAspNetMvc.ViewModels;
@model UserEditViewModel

@{

}

<h4>Редактирование пользователя:</h4>
@using (Html.BeginForm("UserEdit", "Users", FormMethod.Post))
{
    <input type="hidden" value="@Model.Id" name="UserId" />
        
    <div class="row">
        <div class="input-field col s6">
            @Html.EditorFor(m => m.UserName, 
                new { htmlAttributes = new { @id="userName", @type="text", @class = "validate" } })
            <label for="userName">Имя</label>
            @Html.ValidationMessageFor(m => m.UserName)
        </div>
        <div class="input-field col s6">
            @Html.EditorFor(m => m.Salary, 
                new { htmlAttributes = new { @id="userSalary", @type="number", @class = "validate" } })
            <label for="userSalary">Зарплата</label>
            @Html.ValidationMessageFor(m => m.Salary)
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <div><label>Отдел</label></div>
            @Html.DropDownList("DepartmentId", Model.Departments,
                new {@id = "departments", @class = "browser-default"})
            @Html.ValidationMessageFor(m => m.DepartmentId)
        </div>
    </div>

    <div class="row">
        <input class="btn" type="submit" value="Принять" />
    </div>
}