@using TestAspNetMvc.ViewModels;
@model PCEditViewModel

@{

}

<h4>Редактирование компьютера:</h4>
@using (Html.BeginForm("PCEdit", "PC", FormMethod.Post))
{
    <input type="hidden" value="@Model.Id" name="UserId" />
        
    <div class="row">
        <div class="input-field col s6">
            @Html.EditorFor(m => m.Cpu, 
                new { htmlAttributes = new { @id="cpu", @type="number", @class = "validate" } })
            <label for="cpu">Частота процессора (MHz)</label>
            @Html.ValidationMessageFor(m => m.Cpu)
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            @Html.EditorFor(m => m.Memory, 
                new { htmlAttributes = new { @id="memory", @type="number", @class = "validate" } })
            <label for="memory">Оперативная память (Mb)</label>
            @Html.ValidationMessageFor(m => m.Memory)
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            @Html.EditorFor(m => m.Hdd, 
                new { htmlAttributes = new { @id="hdd", @type="number", @class = "validate" } })
            <label for="hdd">Жёсткий диск (Gb)</label>
            @Html.ValidationMessageFor(m => m.Hdd)
        </div>
    </div>

    <div class="row">
        <input class="btn" type="submit" value="Принять" />
    </div>
}